:root{

  /* Paleta de colores GAUSS v1.0 -
  Para mas información, consultar la StyleSheet:
  https://www.figma.com/file/20SQRpHpszMnntGvWCy0ge/Gauss-Stylesheet?node-id=99%3A2 */
  
  /* Escala de grises */
  --negro-0:#1F1F1F;	 
  --gris-oscuro-0:#363636; 
  --gris-medio-0: #ACACAC;  /* todavía no le elegí color */
  --gris-claro-0:#E1E1E1;
  --blanco-0: #fafafa;      /* todavía es incoherente esto del 0 xq este blanco-0 es mas claro que el otro y los otros -0 son mas oscuros */

 --negro:#232323;	/*alternativa suave: TESERA*/
 --gris-oscuro:#4b4e53; /*alternativa suave: TESERA*/
 --gris-medio: #ACACAC;  
 --gris-claro:#E7E7E7;  /*alternativa suave: TESERA*/
 --blanco: #f7f7f7;

 
  /* Paleta pentacroma */
  --celeste-claro:#52C0C0;
  --celeste-oscuro:#108AA8;
  --azul:#063959;
  --violeta:#8C5B8D;
  --rosa:#F2809F;
  
  /* colores saturados para interacción */
  --amarillo-saturado:#FEC439;
  --rosa-saturado: #EF3974;
  --celeste-saturado:#37D6FF;
  
  /* Familia inicial de tipografías */
  
  /* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif; 
  */
  
}



a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {  
margin: 0;  padding: 0;  border: 0;  font-size: 100%;/*  font: inherit;  vertical-align: baseline;*/
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.global,html {
  background-color: var(--blanco);
  color:var(--gris-oscuro);/*var(--negro);*/
}
.global {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
html {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: RobotoRegular, Oxygen, Ubuntu;
  overflow-y: auto;
  position: relative;
  /*height: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: grayscale;
  */
}
main{
	width:100%;
	/*margin:auto;*/
}

h1,h2,h3,h4,h5,h6 {
  font-family: MontserratExtraBold, Roboto, Ubuntu;
  max-width:650px;
}

p {
  font-size: 1.125em;
  letter-spacing: .03em;
  max-width:650px;
  	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
  	text-rendering: optimizelegibility !important;
  /*
	font-size: 16px;
  	line-height: 1.25em;
  */
        padding: 0 0 0.5em 0;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
h4{
  font-size: 1.25em;
}
h5{
  font-size: 1.em;
}


:focus {
  color:var(--gris-oscuro);
  outline: none;
}
a,a:hover {
  text-decoration: none;
  color: inherit;
}

.subrrayar{
	width:auto!important;
	/*margin:auto!important;*/
	padding-bottom:2px;
}
.subrrayar:hover{
	padding-bottom:0px;
}
.subrrayar:hover:after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-animation-name: Efecto_link_subrrayar;
  animation-name: Efecto_link_subrrayar;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: var(--gris-oscuro);
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--gris-medio);
  background-color: inherit;

}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--gris-medio);
  background-color: inherit;
}
input::placeholder,
textarea::placeholder {
  color: var(--gris-medio);
  background-color: inherit;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: var(--celeste-oscuro);
  background-color: inherit;
}
button {
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
	color:inherit;
}

nav a {
  text-decoration: none !important;
  opacity: 0.8;
}
nav a:hover {
  color: var(--celeste-oscuro);
  opacity: 1;
}

b {
  font-weight: bold;
}

.white {
  color: var(--blanco);
}
.black {
  color:var(--negro);
}
.gray{
  color:var(--gris-oscuro);
}

.white div {
  background-color:var(--blanco);
}

.gray div ,
.black div {
  background-color: var(--negro);
}

/*.fa {
  color: var(--negro);
}*/
.bg-oscuro.fa{
	color: var(--blanco);
}


.bg-oscuro{
  background-color: var(--negro);
  
}


.no-scroll {
  overflow-y: hidden;
}
.hidden {
  display: none;
  visibility: hidden;
}
.noscroll {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  position: fixed;
}






/*  HEADER */
header {
  position: fixed;
  top: 0;
  height:0;
  z-index: 1000;
  -webkit-animation: Header_in-down;
  animation: Header_in-down;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
  display: block;
  width: 100vw;
  height: 6vw;
	pointer-events:none;
}



/* LOGO */

.Logo_gauss {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 5vw;
  top: 25px;
  height: 30px;
  float: left;
  font-size: 25px;
  /*line-height:1.5em;*/margin:0;
  cursor: pointer;
  font-family: MontserratExtraBold,MontserratBold,AvenirNextBold;
	pointer-events:auto;
}
.Logo_gauss img{
	height:30px;
}




/*BURGUER*/
.burguer_root {
	position:fixed;
  top: 30px;
  right:5vw;
  cursor: pointer;
	pointer-events:auto;
  float: right;
	height:30px;
  /* display:inline-block; 
  margin-right: 5vw;*/
  z-index: 10;
}
.burguer_root:hover .burger_inactivo > .burguer_top {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.burguer_root:hover .burger_inactivo > .burger_bottom {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.burguer_activo,
.burger_inactivo {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
}
.burger_inactivo > .burguer_icono {
  position: absolute;
  height: 3px;
  width: 100%;
}
.burger_inactivo > .burguer_top {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger_top-close;
  animation-name: Burger_top-close;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  top: 0;
}
.burger_inactivo > .burguer_medio {
  margin: auto;
  -webkit-animation-name: Burger_middle-in;
  animation-name: Burger_middle-in;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  top: 45%;
}
.burger_inactivo > .burger_bottom {
  -webkit-animation-name: Burger__bottom-close__25Npd;
  animation-name: Burger__bottom-close__25Npd;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  bottom: 0;
}
.burguer_activo > .burguer_icono {
  position: absolute;
  height: 3px;
  width: 100%;
}
.burguer_activo > .burguer_top {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger__top-open__3vQeH;
  animation-name: Burger__top-open__3vQeH;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 0;
}
.burguer_activo > .burguer_medio {
  -webkit-animation-name: Burger__middle-out__1LRln;
  animation-name: Burger__middle-out__1LRln;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 45%;
}
.burguer_activo > .burger_bottom {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger__bottom-open__2LyYT;
  animation-name: Burger__bottom-open__2LyYT;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0;
}




/* ====> MENU <==== */
.TabletMenu_root{
		padding-top: 100px;
		padding-bottom: 50px;
		text-align: right;
		overflow: hidden;
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--blanco);
		box-sizing: border-box;
	pointer-events:auto;
	opacity:1;
        transition: opacity 0.5s cubic-bezier(0.7, 0.17, 0.18, 0.77);
}
.TabletMenu_root > *{display:none;}
.TabletMenu_root.fade-out{
	opacity:0;
	pointer-events: none;
}

.noscroll-menu {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
}
.TabletMenu_wrapper {
  position: relative;
  margin-right:5vw;
  height: 100%;
}
.TabletMenu_lenguaje {
  top: 5vh;
  position: absolute;
  right: 0;
  font-size: 25px;
  	-webkit-animation-name: fade-in-down;
  	animation-name: fade-in-down;
  	-webkit-animation-duration: 0.23s;
  	animation-duration: 0.23s;
  	-webkit-animation-delay: 0.45s;
  	animation-delay: 0.45s;
  	-webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

.TabletMenu_current {
  color: var(--gris-medio);
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  pointer-events: none;
}
.TabletMenu_deshabilitado {
  color: var(--gris-oscuro) !important;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.TabletMenu_lista {
  font-size: 10vh;
  line-height: 11vh;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 3vh;
  right: 0;
  text-align: right;
}
.TabletMenu_item {
  font-family: MontserratExtraBold,MontserratBold;
  cursor: pointer;
  	-webkit-animation-name: fade-in-down;
  	animation-name: fade-in-down;
  	-webkit-animation-duration: 0.35s;
  	animation-duration: 0.35s;
  	-webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.TabletMenu_item:hover {
	color:var(--celeste-oscuro);
}

.TabletMenu_email {
  	-webkit-animation-name: fade-in-down;
  	animation-name: fade-in-down;
  	-webkit-animation-duration: 0.23s;
  	animation-duration: 0.23s;
  	-webkit-animation-delay: 0.58s;
  	animation-delay: 0.58s;
  	-webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}
.TabletMenu_email > a {
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}

.TabletMenu_links {
  position: absolute;
  bottom: 0;
  right: 0;
}
.TabletMenu__linkedin,
.TabletMenu__youtube,
.TabletMenu__git,
.TabletMenu__insta {
  height: 15px;
  width: 15px;
}




/*HOME*/

.slide.Home {
	height:100vh;
	/*max-width: 1300px;*/
/*	padding:20px;
  	padding-top:0px;
  	padding-bottom: 50px;
	width:100%;
*/
		-webkit-animation: fade-in-up 0.3s cubic-bezier(.12,.51,.49,.88) forwards; 
		animation: fade-in-up 0.3s cubic-bezier(.12,.51,.49,.88) forwards; 
}

.texto-home{
	/*padding-top:200px;
	margin-top:40px;
	font-size: 1rem;*/
	text-align:left;
  	/*pointer-events: none;*/
}

.texto-home>img{
  	width: 70%;
	max-width:600px;
 	padding-bottom: 20px;
}
.texto-home>h1{

}
.texto-home>h2{
	padding-bottom: 20px;
	/* font-family: 'RobotoRegular'; */
  		font-family: MontserratRegular;
		font-size:2.25em;
}
.texto-home>h4{
  	color: var(--gris-oscuro);
  	font-family: 'RobotoRegular';
  	font-weight: 100;
}

.img-abstracta{
	/*position:absolute;
	display:flex;
		z-index:-10;*/
  		width:100%;
		max-width:720px;
		text-align:center;
  	animation: fade-in 5s 1 0s ease-in;
	animation-duration:.8s;

}

.img-abstracta>object,.img-abstracta>img{
		width:50%;
		max-width:500px;
}

object:hover {
  /*animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(1px, 1px, 1px);*/
  backface-visibility: hidden;
  perspective: 1000px;
}


/*SERVICIOS*/

.steps {
     display: -webkit-box;
     display: -moz-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
     flex-direction: column;
  	/*justify-content:center;
	align-items:center;*/
  width: 100%;
  max-width: 700px;
  	padding: 24px;
  border-radius:8px;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
}

.step {
  padding: 20px;
  position: relative;
  transition: all 0.4s ease-in-out;
  	display: -webkit-box;
  	display: -moz-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -ms-flex-direction: column;
         flex-direction: column;
	align-items:center;
	text-align:center;
	  background-color:var(--blanco);
}
.step.minimized {
  transition: background-color 0.3s ease-in-out;
}
.step.minimized > .step-content {
  height: 0px;
  /* display: none; */

}
.step.minimized:hover {
  background-color: var(--blanco-0);

}
.step.minimized:hover .header { color:var(--celeste-oscuro);}

/* interior de cada servicio */
.step-header{  
  user-select: none;
  cursor: pointer;
	width:100%;
}
.header {}
.subheader {color: var(--gris-medio);}


.step-content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
 	margin:10px;
	width: 90%;
  height:350px;
  line-height: 25px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
     flex-direction: column;
  	color:var(--gris-oscuro);
	background-color: var(--blanco-0);
                -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
                   -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	/*align-items:center;*/
	text-align:left;
  border-radius: 4px;
  margin-top: 10px;
}

.step-content p{padding:40px;}
/* Cosas irrelavantes de estilo*/
/*.next-btn {
  	border: 0;
	background-color:var(--blanco);
}

.close-btn {
 	 border: 0;
	background-color:var(--blanco);
	margin-top:20px;
	margin-bottom:20px;
}

.close-btn:focus {
  outline: 0;
}
.next-btn:focus {
  outline: 0;
}
*/

/* FORMA DE MOSTRAR SERVICIOS ALTERNATIVA */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
  grid-template-areas: ". . ." ". . .";

	margin-top:50px;
		padding:50px;
}

.grid-elem{

}

.grid-elem h4,
.grid-elem i{
	fill: var(--celeste-oscuro);
	color: var(--celeste-oscuro);
}
.grid-elem h5{
	font-family:MontserratBold;
}

.grid-elem p{
	color:var(--gris-medio);
	font-family:RobotoRegular;

}

@media (max-width: 670px) {


	.grid-container{
		display:flex;
		flex-direction:column;
		padding:0px;
	}
	.grid-elem{
		padding:20px;
	}
	
}




















/*     CONTACTO         */

.Contactos_wrapper {
   display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	flex-direction:row;
	justify-content:space-between;
	width:100%;
	max-width:900px;
}

.Contactos-form-wrapper{	
	width:50%;
	max-width:400px;
	justify-content:start!important;
	padding:20px;
	transition: all 150ms cubic-bezier(0.23,1,0.32,1);
}


.Contactos-info-wrapper{
	width:30%;
	max-width:500px;
}

.Form-2-col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  /*white-space: nowrap;*/      
	flex-direction:row;
  justify-content: space-between;
	width:100%;
}

.Form_campo {
  height: 72px;
  display: inline-block;
  position: relative;
  cursor: auto;
	width:100%;
}
.Form-mitad { width: 45%;max-width:200px;}




.Form-input {
  padding: 2px;
  position: relative;
  width: 100%;
  border: medium none;
  /* background-color: var(--gris-oscuro); */
  margin-top: 14px;
  margin-bottom: 16px;
  /*height: 100%; 
box-sizing: border-box;
margin-top: 14px*/
  border-color: var(--gris-claro);
  border-style: none none solid;
  border-width: medium medium 1px;
  bottom: 8px;
  height: 34px;
	font-size:1em;
  	color: var(--gris-medio);
 /*padding: 10px;*/
 	background-color:inherit;

}

.Form_campo >textarea,
.Form_campo > input{
	width:100%;
	overflow:hidden;white-space:initial;
	transition: all 150ms cubic-bezier(0.23,1,0.32,1);
	-webkit-transition: all 150ms cubic-bezier(0.23,1,0.32,1);
}

.Form_campo >textarea,
.Form_campo >input{
  border-style: none none solid;
  border-width: medium medium 2px;
  border-color: var(--gris-claro);
  color: var(--gris-medio);
}
.Form_campo >textarea:focus,
.Form_campo >input:focus {
  border-color: var(--celeste-oscuro);
  color: var(--celeste-oscuro);
}






.Info_box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
     flex-direction: column;

	justify-content:space-between;
	align-items:start;
	text-align:left;
	width:100%;
	margin-bottom:30px;
}

.Info_box >p{
	font-size:1em;
	color:var(--gris-medio);
}
.Info_box >a{
	font-size:1.25em;
}










/* FOOTER */
.site-footer
{
  background-color:var(--negro);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--gris-claro);
  justify-content: center;
  display:flex-inline; 
  padding:50px;
}

.site-footer-wrapper{
	text-align: left;
	/* width:90%; */
	padding-bottom:30px;
	/*margin: auto;
	max-width: 1200;*/
}

.site-footer hr
{
  border-top-color:var(--gris-medio);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:var(var(--blanco));
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {  color:var(--gris-medio); }
.site-footer a:hover {   color:var(--celeste-oscuro);  text-decoration:none;}
.footer-links{  padding-left:0;  list-style:none}
.footer-links li{  display:block}
.footer-links a{  color:var(--gris-medio)}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{  color:var(--celeste-oscuro);  text-decoration:none;}
.footer-links.inline li{  display:inline-block}
a.github >i{	color: var(--gris-claro);}
a.github:hover >i{  color:inherit;}












/*GENERAL  LAYOUT*/






.slide {
	min-height:80vh;
    	padding: 50px;
	max-width:100vw;
	/*
	width: calc(100%); 
	max-width:1300px;*/
   	/* text-align: center;*/
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	/*border-bottom:1px solid var(--gris-claro);*/
}


/*slide LEFT*/
	.left {	
		flex-direction:row; 
	    	justify-content: space-between;
	}
	.left>.column-text{
	    align-items:start;
	    text-align: left;
	}
	.left>.column-image{
	    text-align: right;
	}
	/*.left .btn{margin-right:auto;}*/
	
/*slide RIGHT*/
	.right {
		flex-direction:row-reverse;
	    	justify-content: space-between;
	}
	.right>.column-text{
	    /*align-items:end;
	    text-align:right;*/
	}
	.right>.column-image{
		text-align:left;
	}
	/*.right .btn{margin-left:auto;}*/
	
/* slide CENTER */
	.center { 
    	-webkit-box-direction: normal;
    	-webkit-box-orient: vertical;
    	-moz-box-direction: normal;
    	-moz-box-orient: vertical;
    	-ms-flex-direction: column;
    	 flex-direction: column;
			justify-content:center;
      			align-items:center;
		/*width:100%;*/
	}
	.center>.column-text{
		/* align-items:flex-start; */
      		/* text-align:left; */
      		justify-content: center;
	}
	/*.center .btn{margin:auto;}*/


/* SLIDE TITULOS/SUBTITULOS */
.slide > h2{
	margin-top:70px;
	margin-bottom:30px;
}
.slide > h3{
	margin-bottom:50px;
	text-align:center;
	color:var(--gris-medio);	
	font-family:MontserratRegular;
}


/* COLUMNA CON TEXTO */
.column-text{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
     flex-direction: column;
  padding: 20px;
	/*margin-top:auto;
	  width: 100%;    */
	margin-bottom:5%;
   	max-width: 600px;
}
.column-text.end   {justify-content:end;   }
.column-text.start {justify-content:start; }
.column-text.vcenter{justify-content:center;}



/* COLUMNA CON IMAGEN */
.column-image{
	display:flex;flex-direction:column;justify-content:center;
    width: 50%;
    max-width: 780px;
	/*background-color:var(--celeste-oscuro);*/
}

.column-image>canvas,
.column-image>img{
	width:100%;
	/*pointer-events:none;*/
}



/*BOTONES */


.btn {
	margin-top:20px;	
	padding:10px;
	width:100px;
    color: var(--negro);
    text-transform: uppercase;
    text-align: center;
  transition: all 2s cubic-bezier(.19,1,.22,1);
  -webkit-transition: all 2s cubic-bezier(.19,1,.22,1);
}

.btn:hover{
	color:var(--celeste-oscuro);
}

.material-design{
	border:none;
/* el border generaba un efecto choto cuando había hover, se veía una linea celeste en un frame de la transición */
	border-radius:4px;
	color:var(--gris-medio);
		-webkit-transition: all 0.5s cubic-bezier(.19,1,.22,1);
			transition: all 0.5s cubic-bezier(.19,1,.22,1);
		-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
		   -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
.material-design:hover{
	cursor:pointer;
	border:none;
	color:var(--celeste-oscuro);
	background-color:var(--blanco-0);
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
	        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
}

.material-design-dark{
	border:none;
	border-radius:4px;
  color:var(--gris-medio);
 		-webkit-transition: all 0.5s cubic-bezier(.19,1,.22,1);
			transition: all 0.5s cubic-bezier(.19,1,.22,1);
		-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
		   -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
		        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.material-design-dark:hover{
	cursor:pointer;
	border:none;
	color:var(--celeste-claro);
  background-color: var(--gris-oscuro-0);
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .7);
	   -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .7);
	        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .7);
}


































/* PALABRAS DE OBJETIVO */
.objetivo-words{	
  padding:60px;
  margin-top: 20px;
	width:100%;
	max-width:720px;
	font-size:9vh;
	font-family:MontserratExtraBold;
    font-weight:800;
	overflow:hidden;
	/*text-align:center;*/
}

/* ojo cuando tengamos la palabra final... hay que ajustar los tiempos para que no sea lineal, "la" tarda lo mismo que "computacional" */

.objetivo-words >*:nth-child(1){-ms-animation-delay:0s  ;-webkit-animation-delay: 0s ;  animation-delay: 0s  ;}
.objetivo-words >*:nth-child(2){-ms-animation-delay:0.5s;-webkit-animation-delay:0.5s;  animation-delay:0.5s ;}
.objetivo-words >*:nth-child(3){-ms-animation-delay:0.9s  ;-webkit-animation-delay:0.9s  ;  animation-delay:0.9s   ;}
.objetivo-words >*:nth-child(4){-ms-animation-delay:1.25s;-webkit-animation-delay:1.25s;  animation-delay:1.25s ;}
.objetivo-words >*:nth-child(5){-ms-animation-delay:1.75s  ;-webkit-animation-delay:1.75s  ;  animation-delay:1.75s   ;}
.objetivo-words >*:nth-child(6){-ms-animation-delay:2.5s;-webkit-animation-delay:2.5s;  animation-delay:2.5s ;}
.objetivo-words >*:nth-child(7){-ms-animation-delay:3s  ;-webkit-animation-delay:3s  ;  animation-delay:3s   ;}
.objetivo-words >*:nth-child(8){-ms-animation-delay:3.5s;-webkit-animation-delay:3.5s;  animation-delay:3.5s ;}
.objetivo-words >*:nth-child(9){-ms-animation-delay:4s  ;-webkit-animation-delay:4s  ;  animation-delay:4s   ;}




/*TRANSICIONES */
.animar_fade-in-up{
	opacity:0;
}
.fade-in-up{	
	-webkit-animation: fade-in-UP 2s cubic-bezier(.19,1,.22,1) forwards;
        animation: fade-in-UP 2s cubic-bezier(.19,1,.22,1) forwards;
	/*opacity:1;*/
	-ms-animation-delay: 0.4s; -webkit-animation-delay: 0.4s;  animation-delay: 0.4s;
}


/*aparicios palabras objetivo*/
.animar_fade-in{
	opacity:0;
}

.fade-in{
	-webkit-animation: fade-in 4s cubic-bezier(.1,1,.22,1) forwards;
	animation: fade-in 4s cubic-bezier(.1,1,.22,1) forwards;
}



.expandido>.expansible{	
  	height:auto;
  	max-height:80vh;
	padding-bottom:10px;
	opacity:1;
}
.expansible {
	color:var(--gris-medio);
  	opacity:0;
	max-height:0;
  	overflow:hidden;
	transition: all 1s ease; /*cubic-bezier(0.23,1,0.32,1);*/
}

     .btn-colapsar{display:none;}
.expandido>.btn-colapsar{display:block;}
.expandido>.btn-expandir{display:none;}



/* COUNT-STATS 
.StatsContainer {
	  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	flex-direction:row;
	justify-content: center;
	margin-top: 100px;
	width: calc(100%);
	padding-bottom:30px;
	margin-bottom:30px;
  text-align: center;

	}
.StatsContainer > .stats{
	width: calc(33.3%);
  font-family: 'MontserratRegular';
}
.stats .counting {
  text-align: center;
  font-size: 80px;
    font-weight: 400;
}
.stats .texto {
  font-size: 22px;
    font-weight: 400;
  text-align: center;
	text-transform:uppercase;
}
end count stats*/





























/*   RESPONSIVE    */




/*@media screen and (max-width: 600px) {*/
@media (max-width: 670px) {



	/* GENERAL */
	h1{font-size:9vh;line-height:9.5vh;  padding-bottom:  3vh;     }
	h2{font-size:7vh;line-height:7.5vh;  padding-bottom:2.5vh;     }
	h3{font-size:3vh;line-height:3.25vh; padding-bottom:  2vh;     }
	h4{font-size:2vh;line-height:2.25vh; padding-bottom:  1vh;     }
	a,p {font-size:3vh;line-height:3.25vh;    }

	.slide {
		flex-direction:column;
		justify-content:center;
		/*align-items:center!important;
		width:100%;
		max-width:700px;
		*/
		margin:0px;
		padding:50px 0px;
	}
	
	.column-image{
		width:100%;
		max-width:700px;
		margin:0!important;
		padding:0px;
	}
	.column-text{
		max-width:700px;
		/* align-items:center!important; */
		/* text-align:center!important; */
		padding:0px 20px!important;
	}
	/*.btn{margin:auto!important;}*/
	.column-image>img{
		width:100%;
	}


	/* HEADER */
  	.burguer_root {
    		margin-right: 5vw;
  	}



	/* HOME		*/

	.SlideHOME{
		padding:0;
	}
	.img-abstracta>object,.img-abstracta>img{
		width:70%;
		margin-bottom:20px;
	}


	.texto-home>img{
	        padding-bottom: 10px;
	}
	.texto-home>h2{
	        padding-bottom: 5px;
		font-size:4vh;
		line-height:5vh;
	}
	.texto-home>h4{
		font-size:2.25vh;
		line-height:2.5vh;
	        padding-bottom: 5px;
	}


	/*OBJETIVO*/
	.objetivo-words{
		font-size:7vh;
		padding:0;
		padding-left:50px;
	}

	/*SERVICIOS*/
	.steps{
		margin:0px;
		padding:0px;
		width:90%;
		max-width:600px;
	}
	.step{border-bottom:1px solid var(--gris-claro);}
	.step:before{display:none;}

	.step-content{display:none!important;}
	.step-content p{padding:10px;padding-top:20px;font-size:2.5vh;line-height:2.5vh;}


	/*CONTACTOS*/
 	.Contactos_wrapper {
    		-webkit-box-direction: normal;
    		-webkit-box-orient: vertical;
    		-moz-box-direction: normal;
    		-moz-box-orient: vertical;
    		-ms-flex-direction: column;
    		 flex-direction: column;
 	   justify-content:space-between;
		
 	}
	.Form-2-col,
 	.Contactos-form-wrapper,
 	.Contactos-info-wrapper {
    		-webkit-box-direction: normal;
    		-webkit-box-orient: vertical;
    		-moz-box-direction: normal;
    		-moz-box-orient: vertical;
    		-ms-flex-direction: column;
    		 flex-direction: column;

 	        text-align:center;
                justify-content:center;
	     	align-items:center;
		width:100%;
		padding:0px!important;
 	}

 	.Form_campo,
 	.Form-mitad {
 	  	width: 100%;
		max-width:300px;
 	}
	.Info_box{
		text-align:center;
	     	align-items:center;
	}
	/* FOOTER */
  	.site-footer [class^=col-]
  	{
  	  margin-bottom:30px
  	}
  	.site-footer
  	{
		padding:50px 0;
  	}
	.site-footer-wrapper{
		padding:0px 20px!important;
	}
	.site-footer-wrapper, .site-footer .copyright-text,.site-footer 
  	{
  	  text-align:center;
  	}
    
	/* MENU */       
        .TabletMenu_root {
            padding-top: 90px;
            padding-bottom: 15px;
        }
        .TabletMenu_wrapper {
            margin-right: 5vw;
        }
        .TabletMenu_lenguaje {
           font-size: 18px;
        }
        .TabletMenu_lista {
               bottom:0em;
        }
        /*.TabletMenu_email {
            height: 24px;
        }*/
        .TabletMenu_email > a {
            font-size: 18px;
        }
        .TabletMenu_links {
          bottom: 3vh;
        }
        .TabletMenu__insta,
        .TabletMenu__git,
        .TabletMenu_item ,
        .TabletMenu_lista {
          font-size: 7vh;
          line-height: 8vh;
        }

	
	/*GEOSP*/
	.mapas{
		width:calc(90%)!important;
	}

}


















.mapas {
	/*Width = (225 + 20 + 20) * 4 = 1060*/
	/*3D Transform
	transform: rotateX(60deg) rotateZ(-50deg);
	/*Preserve 3D style for children*/
	width:360px;
	height:440px;
	margin-top:160px;
	margin-bottom:-200px;
	position:relative;
	transform: rotate(-30deg) skew(25deg) scale(0.7);
}
.layer{
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	background-color:#fff;
	transition:0.5s;
}
.layer>img{
	width:100%;
}
.mapas:hover .layer:nth-child(1) {transform: translate(0px  ,-0px)  ;  opacity:1.0}
.mapas:hover .layer:nth-child(2) {transform: translate(80px,-80px)  ;  opacity:0.9}
.mapas:hover .layer:nth-child(3) {transform: translate(160px,-160px);  opacity:0.9}





