
índice general



a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {  
margin: 0;  padding: 0;  border: 0;  font-size: 100%;/*  font: inherit;  vertical-align: baseline;*/
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}
ol,ul {
  list-style: none;
}
blockquote,q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.global,html {
  background-color: #f7f7f7;
}
.global {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  font-family: RobotoRegular, Oxygen, Ubuntu;
  /*font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;*/
 	color:#404040;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  font-family: MontserratSemiBold,MontserratExtraBold, Roboto, Ubuntu;
}
p {
  font-size: 1.125em;
  letter-spacing: 0;
	max-width:650px;
}
h1 {
  font-size: 6em;
	
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
:focus {
  color: rgba(0, 0, 0, 0.87);
  outline: none;
}
a,a:hover {
  text-decoration: none;
  color: inherit;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #404040;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #404040;
}
input::placeholder,
textarea::placeholder {
  color: #404040;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: #404040; /*#64c3c3;*/
}
button {
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}
.no-scroll {
  overflow-y: hidden;
}
.hidden {
  display: none;
  visibility: hidden;
}
.noscroll {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  position: fixed;
}































.Slide {
  min-height: 100vh;
  position: relative;
  width: 100vw;
  min-height: 720px;
  display: flex;
  opacity: 1;
}

.Slide-oscuro{

  background-color:#1f1f1f;

}

.Slide-claro{


}

.Slide-alternativo{


}

.SlideContenido {
 	 -webkit-animation: fade-UP 0.5s ease both;
  	animation: fade-UP 0.5s ease both;

	flex-direction:column;
  box-sizing: border-box;
  max-width: 1200px;
	margin-right:auto;
	margin-left:auto;
	padding-bottom:50px;
	padding-left:30px;
		display:none;



}


.SlideContenido > .titulo{
margin-top: 120px;
margin-bottom: 50px;
}

.SlideContenido > .titulo{

}



.section-divider{

  border-top: 1px solid #dadada;
  margin: auto 80px;
  max-width: 1420px;


}



/* SLIDES SEPARADORES  (GEO, TOXDB, REBECA)*/

.SlideSeparador {
	flex-direction:column;
  max-width: 1200px;
margin-right:auto;
margin-left:auto;
padding-left:30px;
	padding-top:20px;padding-bottom:20px;
	color:#f7f7f7;
	min-height:70vh;
}


.SlideSeparador h2{padding-top:0px;}
.SlideSeparador h3{font-size:18px;padding-bottom:0;}
.SlideSeparador p{}


.img-card{

  z-index:-10;width:100%;

}



/* 2 COLUMNAS: */
.columns-2{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

	margin-top:50px;
}
.columns-2 div {
	width: calc(50% - 25px);
	padding:10px;
}
.columns-2 > div:nth-child(1) {
  margin-right: 5px;
  margin-left: 0;
}
.columns-2 > div:nth-child(2) {
  margin-left: 5px; 
  margin-right: 0;
}

.columns-2 div >h3{
	margin-top:20px;
}


/* 3-COLUMNAS */

.columns-3{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	margin-top:50px;
}

.columns-3 div {
	/*flex-basis: calc(100% / 3 - 30px);*/
    width: calc(100% / 3 - 35px);
	border-radius: 10px;
	box-shadow: 0 0 36px rgba(0,0,0,0.1);
 display:flex;             
 flex-direction: column;
	/*flex-grow: 0;
    flex-shrink: 1;*/
    margin: 5px;
    /*position: relative;*/
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: box-shadow .2s linear,opacity .2s linear;
	padding:10px;
}
.columns-3 div h2 {
	margin-top:10px;
	margin-bottom:0px;
	font-size:10px;
	color:blue;
	text-transform:uppercase;
}
.columns-3 div h3 {
	color:blue;
	margin-top:0;
	margin-bottom:20px;
}
.columns-3 div p {
	margin-bottom:10px;
}

.columns-3 div img {
	width:100%;	
}
/*.columns-3 div:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.78);
  transition: all 200ms;
}*/




@media screen and (max-width: 600px) {
  .columns-3 > div ,
  .columns-2 > div {
    width: calc(100% - 50px)!important;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
	padding:10px;
  }
}






























































































/* ====> MENU <==== */
.TabletMenu_root {
  height: 100hv;
  width: 100hv;
  display: none;
  /*z-index:-100;*/
}



.TabletMenu_root {
  position: absolute;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: right;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f7f7f7;
  box-sizing: border-box;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0.17, 0.18, 0.77);
  animation-timing-function: cubic-bezier(0.7, 0.17, 0.18, 0.77);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.TabletMenu_wrapper {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  margin-right: 3vw;
}
.TabletMenu_lenguaje {
  top: 5vh;
  position: absolute;
  right: 0;
  font-size: 25px;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 0.23s;
  animation-duration: 0.23s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.TabletMenu_lenguaje > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.noscroll-menu {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
}
.TabletMenu_current {
  color: #acacac;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  pointer-events: none;
}
.TabletMenu_deshabilitado {
  color: #202020 !important;
  margin-left: 15px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.TabletMenu_deshabilitado:hover:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-animation-name: Efecto_link_subrrayar;
  animation-name: Efecto_link_subrrayar;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #202020;
}
.TabletMenu_lista {
  font-size: 10vh;
  line-height: 11vh;
  color: #353535;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 3vh;
  right: 0;
  text-align: right;
}
.TabletMenu_email {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 0.23s;
  animation-duration: 0.23s;
  -webkit-animation-delay: 0.58s;
  animation-delay: 0.58s;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  height: 35px;
  margin-bottom: 2vh;
}
.TabletMenu_email > a {
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
}
.TabletMenu_email > a:hover:after {
  position: relative;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-animation-name: Efecto_link_subrrayar;
  animation-name: Efecto_link_subrrayar;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #202020;
}
.TabletMenu_links {
  position: absolute;
  bottom: 0;
  right: 0;
}
.TabletMenu__linkedin,
.TabletMenu__youtube,
.TabletMenu__git,
.TabletMenu__insta {
  fill: #202020;
  height: 15px;
  width: 15px;
}
@media screen and (max-width: 1024px) {
  .TabletMenu_wrapper {
    margin-right: 7vw;
  }
}
@media screen and (max-width: 600px) {
  .TabletMenu_wrapper {
    margin-right: 5vw;
  }
  .TabletMenu__logo__1zM1o {
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
  }
  .TabletMenu_email > a,
  .TabletMenu_lenguaje {
    font-size: 18px;
  }
  .TabletMenu__git,
  .TabletMenu__insta {
    height: 10px;
  }
}
@media screen and (max-height: 570px) and (max-width: 600px) {
  .TabletMenu_lista {
    font-size: 8vh;
    line-height: 9vh;
  }
}
@media screen and (max-height: 600px) {
  .TabletMenu_root {
    padding-top: 90px;
    padding-bottom: 15px;
  }
  .TabletMenu_wrapper {
    padding-top: 0;
  }
  .TabletMenu_lenguaje {
    font-size: 18px;
  }
  .TabletMenu_email {
    height: 24px;
  }
  .TabletMenu_email > a {
    font-size: 18px;
  }
  .TabletMenu__logo__1zM1o {
    width: 20px;
    margin-right: 10px;
    margin-left: 0;
  }
  .TabletMenu__git,
  .TabletMenu__insta,
  .TabletMenu__vk__ErMK6 {
    height: 10px;
  }
  .TabletMenu_links {
    bottom: 3vh;
  }
}
@media screen and (max-height: 400px) {
  .TabletMenu_root {
    padding-top: 90px;
    padding-bottom: 15px;
  }
  .TabletMenu_lista {
    font-size: 8vh;
    line-height: 9vh;
  }
}
@media screen and (max-width: 600px) {
  .TabletMenu_lista {
    font-size: 7vh;
    line-height: 8vh;
  }
}
.Item_item {
  font-family: MontserratExtraBold,MontserratBold,AvenirNextBold;
  cursor: pointer;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transition: color;
  transition-duration: 0.5s;
}
.Item_item:hover {
}




header {
  position: fixed;
  top: 0;
  height:0;
  z-index: 1000;
  -webkit-animation: Header_in-down;
  animation: Header_in-down;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
header {
  display: block;
  width: 100vw;
  height: 6vw;
}
















/* LOGO */

.Logo_gauss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 5vw;
  top: 25px;
  height: 30px;
  float: left;
  font-size: 25px;
  /*line-height:1.5em;*/margin:0;
  cursor: pointer;
  font-family: MontserratExtraBold,MontserratBold,AvenirNextBold;
}
.Logo_gauss img{
	height:30px;
}



/*BURGUER*/

.burguer_root {
	position:fixed;
  top: 30px;
  right:5vw;
  cursor: pointer;
  float: right;
	height:30px;
  /* display:inline-block; 
  margin-right: 5vw;*/
  z-index: 10;
}
.burguer_root:hover .burger_inactivo > .burguer_top {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.burguer_root:hover .burger_inactivo > .burger_bottom {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.burguer_activo,
.burger_inactivo {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
}
.burger_inactivo > .burguer_icono {
  position: absolute;
  height: 3px;
  width: 100%;
}
.burger_inactivo > .burguer_top {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger_top-close;
  animation-name: Burger_top-close;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  top: 0;
}
.burger_inactivo > .burguer_medio {
  margin: auto;
  -webkit-animation-name: Burger_middle-in;
  animation-name: Burger_middle-in;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  top: 45%;
}
.burger_inactivo > .burger_bottom {
  -webkit-animation-name: Burger__bottom-close__25Npd;
  animation-name: Burger__bottom-close__25Npd;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  bottom: 0;
}
.burguer_activo > .burguer_icono {
  position: absolute;
  height: 3px;
  width: 100%;
}
.burguer_activo > .burguer_top {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger__top-open__3vQeH;
  animation-name: Burger__top-open__3vQeH;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 0;
}
.burguer_activo > .burguer_medio {
  -webkit-animation-name: Burger__middle-out__1LRln;
  animation-name: Burger__middle-out__1LRln;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  top: 45%;
}
.burguer_activo > .burger_bottom {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation-name: Burger__bottom-open__2LyYT;
  animation-name: Burger__bottom-open__2LyYT;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0;
}
@media screen and (max-width: 1024px) {
  .burguer_root {
    margin-right: 7vw;
  }
}
@media screen and (max-width: 600px) {
  .burguer_root {
    margin-right: 5vw;
  }
}









nav a {
  text-decoration: none !important;
  opacity: 0.8;
}
nav a:hover {
  opacity: 1;
}

b {
  font-weight: bold;
}

.white {
  color: #fff;
}
.black {
  color: rgb(53, 53, 53);
}

.white div {
  background-color: #fff;
}
.black div {
  background-color: rgb(53, 53, 53);
}


.fa {
  color: #202020;
}






/* HOME */

.SlideContenido.home{
	min-width:700px;
  	-webkit-animation-name:fade-in-up;
    animation-name:fade-in-up;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:.4s;
    animation-duration:.4s;
    -webkit-animation-timing-function:cubic-bezier(.12,.51,.49,.88);
    animation-timing-function:cubic-bezier(.12,.51,.49,.88);
	padding:20px;
	padding-top:0px;
	display:flex;
}

.SlideContenido.home >h1{
	margin-top: calc(40%);
	margin-bottom:0px;
}
.SlideContenido.home >h2{
}
.SlideContenido.home >span{
	font-size:18px;
}

.SlideContenido.home >div{
	position:absolute;
	right:50%;
	background:transparent;
	width:50%;height:50%;
}
.SlideContenido.home >div>img{
	width:600px;
	position: absolute;
	right: -50%;
	margin: auto;
	z-index:-100;
}



@media screen and (max-width: 700px) {

	.SlideContenido.home >h1{
		font-size:4em;
	}
	.SlideContenido.home >h2{
		font-size:2em;
	}
	.SlideContenido.home>p{
		font-size:1em;
	}
	.SlideContenido.home >img{
		width:300px;
		right:0;
	}
}






/*PRODUCTOS*/

.Slide.productos{
}










/*    SERVICIOS   */

.accordion {
  margin-bottom: 20px;
}
.accordion h3 {
  color:#454545;
}
.accordion p {
  /* z-index: 2;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
*/
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation: fade-in-down 0.75s ease both;
  animation: fade-in-down 0.75s ease both;
  margin-top: 5px;
  padding-bottom: 10px;
}
.accordion ul {
  list-style: none;
  -webkit-perspective: 900;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.accordion ul li {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 7%; /*60px;*/
  padding-bottom: 4px;
  padding-top: 18px;
  width: 80%;
	max-width:700px;
  border-bottom: 0.0625rem solid #a0a0a0; /*#f7f7f7;*/
  padding-bottom: 13px;
  	-webkit-animation-name: fade-in-down;
  	animation-name: fade-in-down;
  	-webkit-animation-duration: 0.35s;
  	animation-duration: 0.35s;
  	-webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	transition: color;
  	transition-duration: 0.5s;

}
.accordion ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.accordion ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.17s;
  animation-delay: 0.17s;
}
.accordion ul li:nth-of-type(3) {
  -webkit-animation-delay: 0.24s;
  animation-delay: 0.24s;
}
.accordion ul li:nth-of-type(4) {
  -webkit-animation-delay: 0.31s;
  animation-delay: 0.31s;
}
.accordion ul li:nth-of-type(5) {
  -webkit-animation-delay:0.4s;
  animation-delay: 0.4s;
}


.accordion ul li i {
  position: absolute;
  /* -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0); */
  margin-top: 16px;
  right: 0;
}
.accordion ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: #202020; /*#f7f7f7;*/
  width: 3px;
  height: 9px;
}
.accordion ul li i:before {
  -webkit-transform: translate(-2px, 0) rotate(45deg);
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion ul li i:after {
  -webkit-transform: translate(2px, 0) rotate(-45deg);
  transform: translate(2px, 0) rotate(-45deg);
}
.accordion ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accordion ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  display: none;
  /* rebote choto:
    -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
*/
}
.accordion ul li input[type="checkbox"]:checked ~ i:before {
  -webkit-transform: translate(2px, 0) rotate(45deg);
  transform: translate(2px, 0) rotate(45deg);
}
.accordion ul li input[type="checkbox"]:checked ~ i:after {
  -webkit-transform: translate(-2px, 0) rotate(-45deg);
  transform: translate(-2px, 0) rotate(-45deg);
}
.accordion ul li input[type="checkbox"]:checked ~ p:before,
.accordion ul li input[type="checkbox"]:checked ~ p:after {
  -webkit-animation: fade-in 1.5s ease both;
  animation: fade-in 1.5s ease both;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}







/* 	Slideshow container 		*/
.slideshow-container {
  position: relative;
}

/* Slides */
.MySlides {
  display: none;
  padding: 10px;
  /*text-align: center;*/
}

/* ICONOS DE SERVICIOS   */
.icon_wrapper {
  text-align: center;
  margin: 0 auto;
  /*padding: 1em 0 0.25em;*/
}
.icon {
  position: relative;
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
  margin: 15px 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
border: 3px solid #cddbf2;
  text-align: center;
  z-index: 1;
  color: #bcbaba;
}
.icon:after {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-sizing: content-box;
}
/* Effect 1 */
.icon-effect-1 .icon {
  /*background: rgba(255, 255, 255, 0.2);
  transition: background 0.2s, color 0.2s;
  background: rgba(255, 255, 255, .9);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);*/
	padding:5px;
	color:#cddbf2;
	opacity:0.8;

}
.icon-effect-1 .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 2px #64c3c3;
  transition: transform 0.2s, opacity 0.2s;
  transform: scale(0.9);
  opacity: 0;
}
.icon-effect-1 .icon:hover{
	opacity:1;
}














/*     CONTACTO         */
.Contactos_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Contactos_root {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 156px;
  padding-top: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
}
.Contactos_formulario {
  width: 42%;
  margin-right: 2%;
  /*
 align-items: center;
 justify-content: center;
*/
}
.Contactos_info {
  width: 50%;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  box-sizing: border-box;
  /*padding-left:100px
 align-items: center; 
 justify-content: center;
*/
}
.Info_wrapper {
  margin-bottom: 70px;
}
.Info_emails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/*
.Contactos_header {
 font-size:16vw
}
.Contactos_header>span:nth-child(2),
.Contactos_header>span:nth-child(3) {
 margin-left:-.763vw
}
.Contactos_header>span:nth-child(4) {
 margin-left:-.318vw
}
.Contactos_header>span:nth-child(5) {
 margin-left:-.064vw
}
.Contactos_header>span:nth-child(6) {
 margin-right:.445vw;
 margin-left:-.7vw
}
.Contactos_header>span:nth-child(8) {
 margin-left:.254vw
}
*/
@media screen and (max-width: 1200px) {
  .Contactos_root {
    padding-bottom: 76px;
  }
  .Contactos {
    align-items: center;
    justify-content: center;
  }
  .Contactos_header {
    font-size: 21vw;
  }
  .Contactos_info,
  .Contactos_formulario {
    margin-bottom: 70px;
  }
  .Contactos_info {
    font-size: 12pt;
    margin-left: 2%;
    /*-webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row
*/
  }
  .Contactos_formulario {
    margin-right: 2%;
  }
  .Info_emails {
    width: 100%;
    display: block;
    /*-webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between*/
  }
  .Info_wrapper {
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px) {
  .Contactos_root {
    padding: 0;
  }
  .Contactos_header {
    font-size: 22vw;
  }
  .Contactos_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Contactos_formulario {
    margin-bottom: 100px;
    margin-right: 0;
    width: 100%;
  }
  .Contactos_info {
    margin-left: 0%;
    width: 100%;
  }
  .Info_wrapper {
    margin-right: 0;
  }
  .Info_emails {
    width: 100%;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
















.Formulario_input-wrapper {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.Formulario_mitad {
  width: 45%;
}
/*.Formulario_linea{
  border-color: rgb(224, 224, 224); 
  border-style: none none solid;
  border-width: medium medium 1px;
  bottom: 8px; 
  box-sizing: content-box;
  margin: 0px;
  position: absolute;
  width: 100%
}
*/
.Formulario_campo {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: 72px;
  display: inline-block;
  position: relative;
  background-color: transparent;
  transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  cursor: auto;
}
.Formulario_texto {
  padding: 0px;
  position: relative;
  width: 100%;
  border: medium none;
  outline: currentcolor none medium;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  cursor: inherit;
  font: inherit;
  margin-top: 14px;
  margin-bottom: 16px;
  /*height: 100%; 
box-sizing: border-box;
margin-top: 14px*/
  border-color: rgb(224, 224, 224);
  border-style: none none solid;
  border-width: medium medium 1px;
  bottom: 8px;
}
.Formulario_cuadro {
  position: absolute;
  line-height: 22px;
  top: 38px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  transform: scale(1) translate(0px);
  transform-origin: left top 0px;
  pointer-events: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
}
.Fomulario_mensaje {
  position: relative;
  padding: 0px;
  width: 100%;
  border: medium none;
  outline: currentcolor none medium;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.37);
  cursor: inherit;
  font: inherit;
  height: 100%;
  box-sizing: border-box;
}
.Formulario_mensaje textarea {
  width: 100%;
  height: auto;
  font: inherit;
  padding: 0px;
  cursor: inherit;
  position: absolute;
  border: medium none;
  outline: currentcolor none medium;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  margin-top: 36px;
  margin-bottom: 0px;
  box-sizing: border-box;
  overflow: hidden;
  visibility: hidden;
}
.Formulario_campo > .Formulario_mensaje > input:focus,
.Formulario_campo > input:focus {
  border-style: none none solid;
  border-width: medium medium 2px;
  border-color: #64c3c3;
  color: #64c3c3;
}
.Formulario_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100px;
}
.Formulario_boton {
  margin-top: 5px;
}
.boton {
  width: 160px;
  height: 50px;
  border: 0.5px solid #202020;
  font-size: 18px;
  overflow: hidden;
  transition: all 0.2s;
  border-radius: 0;
  opacity: 0.5;
  background: none !important;
  color: #202020 !important;
  cursor: default;
}
.boton:hover {
  color: #64c3c3;
  border: 2px solid #64c3c3;
}
@media screen and (max-width: 600px) {
  .Formulario_input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Formulario_mitad {
    width: 100%;
  }
}
.Contacto_article > a:hover:after {
  display: block;
  content: "";
  height: 2px;
  width: 0;
  -webkit-animation-name: Efecto_link_subrrayar;
  animation-name: Efecto_link_subrrayar;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  animation-timing-function: cubic-bezier(0, 0.16, 0.12 0, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background-color: #202020;
}






/* FOOTER */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#d3d3d3;
  justify-content: center;
  display:flex-inline; 
  padding:60px;
  
  
  
}

.site-footer-wrapper{

max-width: 1200;
text-align: left;
width:90%;
padding-bottom:30px;


}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {  color:#737373; }
.site-footer a:hover {   color:#3366cc;  text-decoration:none;}
.footer-links{  padding-left:0;  list-style:none}
.footer-links li{  display:block}
.footer-links a{  color:#737373}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{  color:#3366cc;  text-decoration:none;}
.footer-links.inline li{  display:inline-block}
a.github >i{	color:#f7f7f7;}
a.github:hover >i{  color:inherit;}


@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer 
  {
    text-align:left
  }
}













/*/ start count stats /*/ 

.StatsContainer {
	display: flex;
	flex-direction:row;
	justify-content: center;
	margin-top: 100px;
	width: calc(100%);
	padding-bottom:30px;
	margin-bottom:30px;
  text-align: center;

	}

.StatsContainer > .stats{
	width: calc(33.3%);
  font-family: 'MontserratRegular';
}
.stats .counting {
  text-align: center;
  font-size: 80px;
    font-weight: 400;
}
.stats .texto {
  font-size: 22px;
    font-weight: 400;
  text-align: center;
	text-transform:uppercase;
}


/*/ end count stats /*/
