main,header{
	/*width:auto!important;
	width:100%;
	max-width:1300px;*/
}

/* HEADER */
header{
	width:100%;
	position: absolute;
	height: 64px;
	border-bottom: 1px solid var(--gris-medio);
	transition: box-shadow 200ms ease-in-out;
	/* color: rgba(0,0,0,.6);
	fill: rgba(0,0,0,.6); */
	box-shadow: 1px 1px transparent;
}

/*  MAIN    */
main{
	width:auto!important;
    padding:64px 50px 48px;
    padding-top:50px;
}

/*botones fijos:*/
.fixed-button {
	position:fixed; 
 	right: 30px;
  	bottom: 30px;
  	align-items: center;
  	justify-content: center;
  background-clip: padding-box;
  background:var(--blanco);
  border-radius: 50%;
  border-style: hidden;
  display: flex;
  height: 56px;
  line-height: 56px;
  margin-right: 10px;
  min-width: 0;
  /* overflow: visible; */
  vertical-align: middle;
  width: 56px;
  z-index: 80;
    transition-property: background-color,box-shadow,transform;
    transition: box-shadow .3s cubic-bezier(0.55, 0, 0.55, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: rgba(255, 255, 255, .9);
	color:var(--gris-medio);
    opacity:0.8;
}

.fixed-button:hover{
    background-color:#fff;
	color:var(--celeste-oscuro);
	opacity:1;
}


.Logo_gauss {
  	position: absolute;
	top: 25px;
  	left:auto;
  	right: 60px;
	pointer-events:auto;
}

.Logo_toxDB{
	position:absolute;
	top:10px;      
	left:60px;        
	display:flex;
	flex-direction:row;
	padding:5px;
	font-size:24px;
	height:50px;
	line-height:40px;
	font-family:'Montserrat', sans-serif;
	font-weight:bold ;
	color:var(--celeste-oscuro);
	cursor: pointer;
	pointer-events:auto;
}
.Logo_toxDB > img{height:40px;width:40px;}


.botonMenu{
 padding:10px;
 position:absolute;   
 top:15px;
 right:60px;
 font-weight:500;
 font-size:30px;
	display:none;
}




/* SEARCH TOOLBAR */

.search_toolbar{
	display:flex;
    align-items: center;
    vertical-align:middle;
    margin-top:40px;
    margin-bottom:20px;
	height: 40px;/* 53px; */
	border: 1px solid var(--gris-medio);
	box-sizing: border-box;
	border-radius: 48px;
	background-color:var(--blanco);
	width: 100%;
}
.search_icon{
  width:30px;
  padding-left:10px;
  /*border-right:0.05px solid #dadce0;*/
}

.search_close{
     color: var(--gris-medio);
     cursor: pointer;
     display:none;
}

.search_close:hover{
	color: var(--celeste-oscuro);
}

.search_input{
	width:100%;
	height:100%;
	border-style:none;
	background-color:transparent;
	border: 0;
	background: none;
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
		font-size: 18px;
		line-height:22px;
	font-weight: 400;
	flex:auto;
}

.top_fixed-search_toolbar{
   	display:flex;
	margin: 0 auto;
	padding-left:60px;
	padding-right: calc(0% + 60px);
	position: fixed!important;
	top:0;
	left:0;
	z-index: 30;
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,.06);
	box-shadow: 0 4px 4px rgba(0,0,0,.06);
	width: 100%;
	/* max-width:1500px; */
	height:40px;
	/*height:54px;*/
	border-radius: 0px;
	/* border: 1px solid var(--gris-oscuro); */
	align-items: center;
}

.top_fixed-search_toolbar > .search_input{
	width:40%;
}

/* toolbar opciones de vista */

.contador{
	color:var(--gris-medio);
}



.vista_toolbar{
	line-height: 36px;
	margin-bottom: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}


.botones_toolbar{
	display: flex;
	align-items: center;
}

.vista{
vertical-align:middle;
padding-top:15px;
margin-left:30px;
display:flex;
}

.vista_boton{
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 1;
	margin-right: 3px;
	margin-left: 2px;
	min-width: 0;
	/* opacity: .6; */
	overflow: visible;
	padding: 4px;
	text-transform: initial;
	width: auto;
}

.vista_boton:hover{
	cursor: pointer;
	background-color: var(--gris-claro);

}




/*      TARJETAS         */
.cards{
	padding-top:10px;
   width:100%;
   max-width:1300px;
}

.card{
	display: flex;
	flex-direction:column;
        border-radius: 5px;
    	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
	height:100%;
}
.card:hover{
	background-color:var(--blanco);
	background-color:var(--blanco-0);
        box-shadow: 0px 1px 4px rgba(0,0,0,.1),0px 2px 3px rgba(0,0,0,.12),0px 1px 3px rgba(0,0,0,.14);
		cursor: pointer;
		opacity:1;
}


/* GRID VIEW */
.grid_view {
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
	/*grid-gap: minmax(5px,auto);5px;*/
	grid-gap:1rem;
	margin: 0 auto;
}
.grid_view > li{
	padding:5px;
	max-width:300px;
	max-height:300px;
}
/* LIST VIEW */
.list_view {
        display: flex;
 	flex-direction: column;
	align-items:center;
}

.list_view > li{
	padding-bottom:0px;
	border-radius: 8px;
	margin-right: 0px;
	margin-bottom:1px;
	border: 1px solid var(--gris-claro);
	width:100%;
	max-width:700px;
}
.list_view>li> .card-header *{
	line-height:22px;
	padding:0px;
	margin:0px;
}
.list_view>li>.card-header{
     	display:flex;
	flex-direction:column;
	/*flex-direction:row;
	justify-content:space-between;*/
}

/*  interior de cada tarjeta */
.card-header{
	cursor: pointer;
	outline: none;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
}
.card-titulo {
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
	text-align:center;
        /*margin-top: 12px;*/
		margin-bottom: 5px;
		cursor: text;
}
.card-subtitulo {
	text-align:center;
        font-size: 12px;
        /* font-weight:20; */
        line-height: 12px;
        min-height: 12px;
	margin-top:5px;
	margin-bottom:0px;
	color:var(--gris-medio);
  /*border-bottom: 0.05px solid var(--blanco);*/
}
.card-content{
	vertical-align: middle;
        align-items: center;
        text-align: center;
}
.card-content > img{
	width:200px;
}
.card-footer{
  float: right;
	text-align:right;
	position:relative;
	font-size:20px;
	width:100%;
}





/*  PAGINA ESPECIMENT */
.specimen_page {
	display:flex;
	flex-direction:column;
    position: relative;
    margin-top: 30px;
    /*margin-left:40px;*/
	max-width: 1200px;
}

.specimen_page > section{
	margin-left:20px;

}

/* SPECIMEN HEADER */
.specimen_page_nav_header h1,
.specimen-header_titulo {
	/*white-space: nowrap;*/
	font-size: 48px;
	line-height: 64px;
	background-color: var(--blanco);
}

.specimen-header_subtitulo {
	position: absolute;
	color:var(--gris-oscuro);
	transform: translateY(-6px);
	font-weight: 500;
}

.specimen_page_nav {
	padding-left:50px;/* == a padding de main */
	display:blocK;
	position:fixed;
	top:0;right:0;left:0;
	width:100%;
	background-color: var(--blanco);
	transition: 300ms cubic-bezier(0.4,0,0.2,1) padding-right;
	/* height: 64px; */
	max-width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	border-bottom: 0.1px thin var(--gris-medio);
	display:none;
}
.specimen_page_nav > ul {
	outline: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: start;
        flex-wrap:wrap;
	border-bottom: 0.01px solid var(--gris-claro); 
	background-color: var(--blanco);
	margin-top:1px;
}	
.specimen_page_nav_header{
width:100%;
background-color:var(--blanco);
height:64px;
position: relative;
}


.specimen_page_nav_header h1{
	outline: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.specimen_page_nav >ul>li{
}
.specimen_page_nav >ul>li>button{
	display: inline-block;
	position: relative;
	cursor: pointer;
	/*min-height: 36px;
	min-width: 88px;
	outline: none;
	border: 0;*/
	padding:5px 10px;
	line-height: 22px;
	justify-content: center;
	align-items: center;
	text-align: center;
	-moz-border-radius: 2px;
	border-radius: 2px;
	box-sizing: border-box;
	-moz-user-select: none;
	-moz-user-select: none;
	background: transparent;
	color: currentColor;
	color:var(--gris-medio);
	white-space: nowrap;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
	transition: box-shadow .4s cubic-bezier(0.25,0.8,0.25,1),background-color .4s cubic-bezier(0.25,0.8,0.25,1);
}

.specimen_page_nav > ul > li > button:hover,
.specimen_page_nav .activo>button{
	border-bottom:2px solid var(--celeste-oscuro);
	color:var(--celeste-oscuro);
}













/*END HEADER */

.specimen_page h2 {
    padding-top: 32px;
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 400;
}

.specimen_page,
.specimen_page p{
	font-size: 14px;
	line-height: 20px;
}

.specimen_data {
	width:100%;
	max-width:1200px;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:30px;
	margin-bottom:10px;
	border-bottom:0.1px solid var(--gris-medio);
	display:block;
}




.resumen {
   border-color:var(--gris-claro);
   /*border-radius: 2px;
   border-width: 4px;
   border-style: solid;
   border-collapse: collapse;
   border-spacing: 0;

   margin: 10px 10px;
*/
   text-align: left;
   padding: 30px;
	padding-left:0px;
	width:100%;
	
  	max-width:700px;
/* background: rgba(255, 255, 255, .9);
     border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    -webkit-transform-origin: 50% 300%;
	opacity:0.8;
*/
}

.resumen > table{
		width:90%;
		max-width:650px;
}
.resumen > table > tbody > tr >td{
padding: 10px 0;
border-bottom: 1pt solid var(--gris-medio);
text-align: left;

}

.resumen > table >tbody> tr > td:first-child {
	/*margin-right:50px;
	padding-right:10px;
	border-right:1px solid var(--gris-oscuro);*/
	vertical-align: middle;
	text-align: left;
}
.resumen > table >tbody> tr > td:nth-child(2) {
	padding-left:20px;
	font-weight:300;
	font-size:18px;
}

.resumen > table > tbody > tr >.imagen{
	display:flex;
	flex-direction:row;
        flex-wrap:wrap;
} 
.resumen > table > tbody > tr >td >figure{
	width:100px;
	height:105px;
}

.resumen > table > tbody > tr >td >figure>img{
	width:100px;
	height:100px;
}





























































































/* CONTENIDO */
.specimen_data > table {
	width:100%;
	max-width:700px;

}
.specimen_data > table >tbody> tr{
	display:flex-inline;	
	/*flex-wrap:wrap;*/
	height:45px;
}
.specimen_data > table >tbody> tr>td{
	margin:20px;
}

.specimen_data > table >tbody> tr>td:nth-child(1),
.specimen_data_name {
	padding-right:auto;
	font-size:18px;
}
.specimen_data > table >tbody> tr>td:nth-child(2),
.specimen_data_value  {
	font-size:26px;
	text-align:right;
}

.specimen_data > table >tbody> tr>td:nth-child(3),
.specimen_data_referencia {
	width:45px;	
	font-size:22px;
	text-align:center;
	color: var(--gris-medio);
	margin:2px;
}
.specimen_data_referencia>i {
	padding: 0;
	min-width: 0;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	line-height: 40px;
	border-radius: 50%;
	opacity:0.5;
		transition: all 50ms ease-in-out;

}
.specimen_data_referencia>i:hover {
}

.specimen_data > table >tbody> tr>td:nth-child(3):hover,
.specimen_data_referencia:hover{
	color:var(--celeste-oscuro);
	cursor: pointer;

}

.specimen_data_referencia>i::before {content:"+";}
.specimen_data_referencia.active>i::before {content:"-";}
.specimen_data_referencia.active>i {color:var(--gris-medio);}
.specimen_data_referencia.active>i:hover {color:var(--rosa);cursor: pointer}

.cita {
	visibility: hidden;
}
.cita.active{
   -webkit-animation-name: fade-in-down;
   animation-name: fade-in-down;
   -webkit-animation-duration: 0.35s;
   animation-duration: 0.35s;
   -webkit-animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
   animation-timing-function: cubic-bezier(0.12, 0.51, 0.49, 0.88);
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;

	display:flex;
	width:100%; 
	margin-top:-15px;
        	height:auto!important;
        	min-height:45px;
  column-span: 3;
}

.cita.active > td{ 
	display:flex;
	margin-left:auto;
	/* border-right:1px solid gray; */
	border-bottom:1px solid var(--gris-medio);
	text-align:right;
	font-style:italic;
	width:100%; 
		color:var(--gris-medio);
	  column-span: 3;	
	visibility:visible;

}



#NFPA_fig,
#SeguridadQuimica_figs{
	display:flex; 
	flex-direction:row;
        /* flex-wrap:wrap; */
	justify-content:center;
	padding:10px;
	height:100px;
	max-width:700px;

}
#NFPA_fig figure,
#SeguridadQuimica_figs figure{
	width:100px;
}


#ToxicList tr{display:none;}

#showLess,
#loadMore,.loadmore{
          	/* background:#fff; */
        	/* color:var(--gris-medio); */
            		/* opacity:0.8; */
/* border-radius: 20px; */
/* border: 1px solid#dadce0; */
/* color:rgba(0,0,0,.87); */

/* font-family: "Roboto,Helvetica Neue",sans-serif; */
/* font-weight: 500; */
/* text-transform: none; */
/* margin-top:10px; */
/* overflow: hidden; */
/* transition: all 0.2s; */
/* box-shadow: 0 2px 5px 0 rgba(0,0,0,.26); */
/* opacity: 0.5; */
/* background: none !important; */
/* color: #202020 !important; */
/* cursor: pointer; */
}

#showLess:hover,
#loadMore:hover,
.loadmore:hover{
        
		/* color:var(--celeste-oscuro); */
		  /* border: 2px solid var(--); */
		  /* transform: translateY(-2px); */
		  /* box-shadow: 0 3px 6px 0 rgba(0,0,0,.26); */} 


#showLess,
#loadMore,.loadmore{
	border:none;
/* el border generaba un efecto choto cuando había hover, se veía una linea celeste en un frame de la transición */
	border-radius:4px;
	display: inline-flex;
	line-height: 32px;
min-height: 32px;
padding-left: 16px;
padding-right: 21px;
margin: 0 10px 0 0;

	color:var(--gris-medio);
		-webkit-transition: all 0.5s cubic-bezier(.19,1,.22,1);
			transition: all 0.5s cubic-bezier(.19,1,.22,1);
		-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
		   -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
#showLess:hover,
#loadMore:hover,
.loadmore:hover{
	cursor:pointer;
	border:none;
	opacity:1;
	color:var(--celeste-oscuro);
	background-color:var(--blanco-0);
	-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
	   -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
	        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .3);
}








/*#showLess::before,
#loadMore::after{
color: var(--celeste-oscuro);
display: block;
content: "▼";
position: relative;
speak: none;
font-size: 13px;
transform: scaleY(0.5) scaleX(1);
top: 1px;
right: -7px;
}



#showLess::before{
	left:-7px;
    transform: scaleY(0.5) scaleX(1) rotate(180deg) translateY(3px);
}
*/





/* POPUP DE CONTACTO */
#feedback-button {
	color: var(--gris-medio);
	fill: var(--gris-medio);
	transition: 0.2s;
    position: fixed;
    bottom:45px;
    left: 3px;
	border:none;
	background-color:transparent;
}

#feedback-button:hover{
    color: var(--celeste-oscuro);
    fill: var(--celeste-oscuro);
}

.form{
	width:340px;
	/*height:440px;*/
background:var(--blanco-0);
border-radius:8px;
box-shadow:0 0 40px -10px #000;
margin:calc(50vh - 220px) auto;
padding:20px 30px;
max-width:calc(100vw - 40px);
box-sizing:border-box;
	position:fixed;
	left:calc(50% - 170px);
	z-index:200;
visibility:hidden;
		display:flex;
		flex-direction:column;
}
.form .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: var(--gris-claro);
}
.form .close:hover {
  color: var(--celeste-oscuro);
}

.form h3{
	padding-bottom:5px;
	margin:10px 0;
	border-bottom:2px solid var(--gris-oscuro);
}
.form input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid var(--gris-claro);}
.form input:focus{border-bottom:2px solid var(--celeste-oscuro);}
.form p:before{content:attr(type);display:block;margin:24px 0 0;font-size:14px;color:var(--gris-medio);}
.form button{
	float:right; 
	padding:8px 12px;
	margin:8px 0 0; 
}
.form span{margin:0 5px 0 15px}

.form:target {
  visibility: visible;
  opacity: 0.98;
}













/* VISUALIZACION DE MOLECULA 3D */
#MolView2D-container,
#MolView-container{
	display:flex;
	flex-direction:row;
	position:relative;
	margin-top:10px;
	margin-right:10px;
	border: 1px solid var(--gris-claro);
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .22);

}

#MolView2D-botones,
#MolView-botones{
	display:flex;
	flex-direction:column;
	width:50px;
	
	
	
}
#MolView-botones>button{
	padding:3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	color:var(--gris-medio);
			opacity:0.8;

			border-radius: 20px;
border: 1px solid var(--gris-claro);
color:rgba(0,0,0,.87);
display: inline-flex;
margin: auto;
overflow: hidden;
transition: all 0.2s;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
cursor: pointer;
}
#MolView-botones>button:hover{
  transition-property: background-color,box-shadow,transform;
  transition: box-shadow .3s cubic-bezier(0.55, 0, 0.55, 0.2);
	
	opacity:1;
	 /* border: 2px solid var(--); */
	  transform: translateY(-2px);
	  box-shadow: 0 3px 6px 0 rgba(0,0,0,.26);
	  


}
#MolView-botones>button:disabled,
#MolView-botones>button:disabled:hover{
	background:var(--gris-claro);
	/* box-shadow: 0 0px 0px 0 rgba(0,0,0,.0); */
}

#MolView2D-botones>h3,
#MolView-botones>h3{
	font-weight:500;
	margin-left:10px;
	margin-bottom:5px;
}

#MolView2D,
#MolView{
	background:white;
	display:flex;
	flex-direction:column;
	/* border: 1px dotted var(--gris-medio); */

}






#sinonimos ol{
        display:grid;
        grid-template-columns: repeat(auto-fill, 0.5fr);
        grid-gap:0.1rem;
        margin: 0 auto;
}

#sinonimos ol >li{
	padding:2px;
}
/*#sinonimos ol > li:before{content:", "}
#sinonimos ol > li:first-child::before {content:" "}
*/


/* 
#descripcion {
	font-size:16px;
	line-height:16px;

} */


#descripcion{
	color: var(--gris-oscuro);
	/* font-family: 'RobotoRegular, Roboto'!important; */
	font-weight: 400!important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased !important;
	-moz-font-smoothing: antialiased !important;
	text-rendering: optimizelegibility !important;
	letter-spacing: .03em;
	font-size: 18px;
    line-height: 1.5em;
    /* padding: 0 0 1em 0; */
	text-align: justify;
	max-width: 700px;
	/* para el "ver mas" */
	display: -webkit-box;
    
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.clamped{
	-webkit-line-clamp: 4;

}

.unclamped{
	-webkit-line-clamp: unset;

}



/* MEDIA QUERY */

@media screen and (max-width:700px) {

	main{
		padding:10px;
		padding-top:60px;
	}
	.card{
		width:90%;
		margin:auto;
	}
	.card-header{
		/* display: flex; */
		justify-content: left;
		
	}
	.card-titulo,.card-subtitulo{
		padding: 0;
		margin: 0;
		flex-direction: row;
	}



	.specimen_page,
	.specimen_page>section{
		padding:0;
		margin:0;
		overflow-x:hidden;
	}

	.specimen_page>section{
		padding-bottom:20px;
	}
	.specimen-header_titulo{
		padding-bottom:0px;

	}
	.search_toolbar,
	.specimen_page_nav,
	.top_fixed-search_toolbar{
		padding:10px;
	}
	.Logo_gauss{
		right:10px;
	}
	.Logo_ToxDB{
		left:10px;
			}

	.vista_toolbar{
		flex-direction:column-reverse;
		align-items:center;
	}

	.fixed-button {
		right:0px;
		bottom:20px;
	}
	.specimen_page_nav >ul>li>button{
	padding:2px 5px;
	}
}

